* {
    box-sizing: border-box;
}

body {
    background: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#app {
    position: absolute;
    top: 15px;
    right: 15px;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    border: 1px solid #000;
    background: rgba(255, 255, 255, 0.2);
}

#control {
    position: absolute;
    padding: 5px;
    border: 1px solid #000;
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
}

#control.menu {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translatey(-50%);
}

#control.game {
    top: 15px;
    left: 15px;
}

#control input {
    border: solid 1px #000;
    margin-right: 1px;
    padding: 5px 10px;
    background: #000;
    color: #fff;
}

#control button {
    border: solid 1px #000;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    transition: background-color 0.2s;
    margin-right: 1px;
    padding: 5px 10px;
}

#control button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

#control > .game-entry {
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.4);
    margin-bottom: 5px;
}

#control > .game-entry:last-child {
    margin: 0;
}

#control > .game-entry > button {
    width: 100%;
    margin: 0;
    margin-top: 5px;
}

#control > .info, #control > .config {
    margin-bottom: 5px;
}

#control > .info, #control > .config {
    padding: 0 10px;
}

#control > .info > .secret {
    display: inline-block;
    background: rgba(0, 0, 0, 0.6);
    padding: 5px 20px;
    margin: 0 5px;
    font-size: 80%;
}

#control > .config > input, #control > .config > label {
    display: inline-block;
    width: calc(50% - 1px);
    padding: 5px 10px;
}

#control > .footer {
    display: flex;
    flex-direction: row;
}

#control > .footer > button {
    flex: 1;
}

#canv {
    position: relative;
    width: 100%;
    height: 100%;
}

#contribute {
    pointer-events: none;
    position: absolute;
    bottom: 15px;
    right: 15px;
    border: solid 1px #000;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 5px;
}

#contribute > a {
    display: inline-block;
    pointer-events: all;
    color: #000;
    transition: background-color 0.2s;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 10px;
    margin-left: 5px;
}

#contribute > a:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

.hidden {
    display: none;
}
